@keyframes scribble {
  to {
    stroke-dashoffset: 0;
  }
}

.stripped {
  max-width: 500px;
  margin: 0 auto;
  background: #000;
  background-image: url('/myphoto.jpg');
  background-size: cover;
  font-size: 0;
}

.stripped svg {
  background: #000;
  mix-blend-mode: darken;
}

.stripped svg polyline {
  fill: none;
  stroke: rgb(206, 212, 211);
  stroke-width: 200;
  stroke-dasharray: 20000;
  stroke-dashoffset: 20000;
  animation: scribble 3s linear forwards;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .stripped {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/olga-2x.jpg');
  }
}
